body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: "BPG Nino";
}
*{
  box-sizing: border-box;
}
@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("./fonts/BPGNinoMedium.woff") format("woff2"),
    url("./fonts/BPGNinoMtavruli.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("./fonts/BPGNinoMtavruli-Bold.woff2") format("woff2"),
    url("./fonts/BPGNinoMtavruli-Bold.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BPG Nino";
  src: url("./fonts/BPGNinoMedium.woff2") format("woff2"),
    url("./fonts/BPGNinoMedium.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {

  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(0, 178, 217, 0.2); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgba(0, 178, 217, 1); 
}