.flex{
    display: flex;
    align-items: center;
    column-gap: 30px;
    row-gap: 40px;
    flex-wrap: wrap;
}
.flexnowrap{
    display: flex;
    align-items: center;
    column-gap: 30px;
    overflow-x: scroll;
    height: 750px;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    margin: 0 0 100px 0;
}
@media (max-width: 1620px) {
    .flexnowrap{
        height: 600px;
    }
    .flex{
        column-gap: 20px;
    }
    
}
@media (max-width: 1400px){
    .flexnowrap{
           height: 400px;
           margin: 0 0 70px 0;
           column-gap: 20px;
    }
    .flex{
        column-gap: 10px;
       row-gap: 20px;
    }
}
@media (max-width: 1200px){}
@media (max-width: 992px) {
    .flex{
        overflow-x: scroll;
        flex-wrap: nowrap;
        scroll-snap-type: x mandatory;
    }
}
@media (max-width: 768px){}
@media (max-width: 576px){}
@media (max-width: 440px){}